.board{
    margin: 0 auto;
    width: 75%;
}


.board-row{
    display: inline-block;
}

.board-row::after{
    clear: both;
    content: "";
    display: table;
    width: 300px;
}


@media screen and (max-width: 375px) {
    .board{
        width: 100%;
    }

}
